.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.promo h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.promo_card{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.card{
    position: relative;
    overflow: hidden;
}

.promo_card img{
    width: calc(98vw/3);
    transition: 0.3s all ease-in-out;
    
}

.promo_card img:hover{
    transform: scale(1.1);
}

@media (max-width: 750px) {

}