.header{
    background-color: #003366;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 5px;
    position:sticky;
    top: 0;
    z-index: 6;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FF6600;
}

.logo img{
    width: 3rem;
    height: 3rem;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search{
    position: absolute;
    border: 0;
    border-radius: 0 50px 50px 0;
    right: -1px;
    top: -1px;
    width: 3rem;
    height: 2.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search:hover{
    background-color: #FF6600;
    cursor: pointer;
    color: #FFFFFF;
    top: -0.5px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    position: relative;
}

.bag_car:hover .car{
    display: block;
    position: absolute;
    top: 25px;
    right: 80px;
    z-index: 5;
}

.car{
    display: none;
}

.bag{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00CC66;
    font-size: 1.5rem;
}

.hamburger{
    display: none;
    background-color: transparent;
    border: none;
}

.mobile{
    position:sticky;
    flex-basis: 100%;
}

@media(max-width: 750px) {

    .header{
        padding: 5px;
        gap: 10px;
        position:sticky;
        top: 0px;
        z-index: 10;
        border-radius: 0 0 5px 5px;
    }

    .hamburger{
        display: block;
        order: -1;
        color: #CCCCCC;
        cursor: pointer;
        z-index: 10;
    }

    .hamburger:hover~ .mobile_open{
        transition: ease 10s;
    }

    .mobile_open{
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;
        z-index: 4;
    }
    
    .logo{
        order: 0;
        flex-grow: 2;
        flex-basis: 33%;
    }

    .logo img{
        display: none;
    }

    .bag_car:hover .car{
        top: 25px;
        right: 0;
    }

    .bag{
        order: 1;
    }

    .input{
        order: 2;
    }

    .mobile{
        display: none;
    }

    .search:hover{
        top: -1px;
    }
}

