.header{
    background-color: #003366;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #FF6600;
}

.header img{
    width: 3rem;
    height: 3rem;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search{
    position: absolute;
    border: 0;
    border-radius: 0 50px 50px 0;
    right: -1px;
    top: -1px;
    width: 3rem;
    height: 2.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search:hover{
    background-color: #FF6600;
    cursor: pointer;
    color: #FFFFFF;
    top: -0.5px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.bag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: #00CC66;
}

.bag:hover{
    transform: scale(1.1);
}

.hamburger{
    display: none;
    background-color: transparent;
    border: none;
}

.mobile_nav{
    display: none;
}

@media(max-width: 750px) {

    .header{
        padding: 5px;
        gap: 10px;
        position: relative;
    }

    .hamburger{
        display: block;
        order: -1;
        color: #CCCCCC;
        cursor: pointer;
        z-index: 10;
    }

    .mobile_open{
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;
        z-index: 4;
    }
    
    .logo{
        order: 0;
        flex-grow: 2;
        flex-basis: 33%;
    }

    .logo img{
        display: none;
    }

    .bag{
        order: 1;
    }

    .input{
        order: 2;
    }

    .mobile{
        display: none;
    }

    .search:hover{
        top: -1px;
    }
}

