.footer{
    background-color: #003366;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.ul li:hover{
    color: #FF6600;
    cursor: pointer;
}

.ul h4{
    font-weight: bold;
}

.central{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.central h4{
    font-weight: bold;
}

.social{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 2rem;
}

.social li:nth-child(1):hover{
    color: #2d76ff;
    cursor: pointer;
}

.social li:nth-child(2):hover{
    color: #d04a7b;
    cursor: pointer;
}

.social li:nth-child(3):hover{
    color: #13abe1;
    cursor: pointer;
}

.social li:nth-child(4):hover{
    color: #e1131d;
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.8rem;

    flex-basis: 100%;
}

